main {
    text-align: center;
}

main div {
    display: inline-block;
}

nav, footer {
    display: grid;
    grid-template: 40px / 50% 50%;
    border: 1px solid blue;
    align-items: center;
}

#navRight, #footRight {
    justify-self: end;
    background-color: orange;
}

a {
    text-decoration: none;
 /*  font-size: 80%;*/
    color: gray;
    font-size: 80%;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    display: inline;
    margin-left: 20px;
}

#navRight ul li, #footRight ul li {
    margin-right: 20px;
    margin-left: 0;
}

footer {
    background-color: rgb(240, 239, 239);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}
/*
footer {
    position: fixed;
    bottom: 0;
    left: 0;
}
*/