/* Gonna give flexbox a try here
main {
    text-align: center;
    border: 1px solid red;
}

main div {
    display: inline-block;
    border: 1px solid black;
}
*/

main {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    border: 1px solid red;
    height: 350px;

}


main div {
    text-align: center;
    border: 1px solid black;
}

input[type=text] {
    width: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 25px 0 30px 0;
    border-radius: 25px;
    padding: 10px 40px;
  /*  background-image: url("./images/magnifyGlass.png"); 
  /*
  padding-top: 10px;
  padding-bottom: 10px;
      margin-bottom: 30px;*/
}

input[type=submit] {
    margin: 0 5px;
    height: 30px;
    background-color: rgb(240, 239, 239);
    border-radius: 5px;
    padding: 0 15px;
    border: none;
}

input[type=submit]:hover {
    border: 1px solid black;
}

#signIn a {
    background-color: rgb(37, 131, 175);
    border: 1px solid orange;
    padding: 5px 13px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}




nav, footer {
    display: grid;
    grid-template: 40px / 50% 50%;
    align-items: center;
}

#navRight, #footRight {
    justify-self: end;
}

a {
    text-decoration: none;
 /*  font-size: 80%;*/
    color: gray;
    font-size: 80%;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    display: inline;
    margin-left: 20px;
}

#navRight ul li, #footRight ul li {
    margin-right: 20px;
    margin-left: 0;
}

footer {
    background-color: rgb(240, 239, 239);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}
/*
footer {
    position: fixed;
    bottom: 0;
    left: 0;
}
*/